body, html {
  margin: 0px;
  padding: 10px;
  height: 100%;
}
h1 {
  text-align: center;
}

table {
  margin: 0 auto;
}

input {
  padding: 0 2px;
}
input.tempo {
  width: 30px;
}
input.lenmin, input.lensec, input.pausemin, input.pausesec {
  width: 20px;
}
input.repeat {
  width: 20px;
}
td input, td, th {
  font-size: 18px;
}

th, td {
  padding-left: 5px;
}
th:nth-child(odd),td:nth-child(odd) {
  background-color: #9494b8;
}
th:nth-child(even),td:nth-child(even) {
  background-color: #d1d1e0;
}
tr:nth-child(1) td {
  background-color: white;
  padding-bottom: 20px;
}

#play {
  background-color: #009900;
}
#play .round {
  background-color: #00cc00;
}
#stop {
  background-color: #ff1a1a;
}
#stop .round {
  background-color: #ff4d4d;
}
#clear {
  background-color: #5A5B5E;
}
#clear .round {
  background-color: #737478;
}

#clear {
  float: right;
}

a.btn {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
a.btn span {
  position: relative;
  z-index: 3;
}
a.btn .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  font-size:24px;
  z-index: 2;
}
a.btn .round i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -10px;
}

a.btn span.txt {
  font-size: 14px;
  line-height: 1.45;
}

.footer {
  text-align: center;
}
